/* FOR DESKTOP/LARGE SCREENS */
#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

#mainwrapper {
	background: url('../assets/images/snow-covered-mountain.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* FOR TABLETS */
@media all and (min-width: 480px) and (max-width: 959px) {
	
}

/* FOR MOBILE PHONES */
@media all and (max-width: 450px) {
	
}