html {
	background: url(../assets/images/mountain-valley-pixabay.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#mainwrapper {
	text-align: center;
}

.page-title {
	background-color: rgba(12,12,41,0.8);
	padding: 12px;
	color: #fff;
}

/* FOR TABLETS */
@media all and (min-width: 480px) and (max-width: 959px) {
	
}

/* FOR DESKTOP/LARGE SCREENS */
@media all and (min-width: 959px) and (max-width: 1440px) {
	
}